<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto h-screen w-screen flex justify-center items-center">

    <div class="lg:w-3/5 md:flex bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">サインアップ</font>
        </font>
      </h2>


      <%= form_with url: login_path do |f| %>
        <div class="relative mb-4">
          <%= f.label :email, User.human_attribute_name(:email), class: "leading-7 text-sm text-gray-600" %>
          <%= f.email_field :email, class: "w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
        </div>
        <div class="relative mb-4">
          <%= f.label :password, User.human_attribute_name(:password), class: "leading-7 text-sm text-gray-600" %>
          <%= f.password_field :password, class: "w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
        </div>
        <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">ボタン</font>
          </font>
        </button>
      <% end %>
      <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">ボタン</font>
        </font>
      </button>
      <p class="text-xs text-gray-500 mt-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">文字通り、ジーンズショートパンツについて聞いたことがないかもしれません。</font>
        </font>
      </p>
    </div>
  </div>
</section>



